<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./leeches (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{68,43}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{200,0},{68,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{32,66}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{372,130},{32,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{40,59}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{144,305},{40,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,114},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{40,59}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{326,115},{40,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{32,66}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{372,130},{32,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-7}</string>
    <key>spriteSize</key>
    <string>{64,54}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,57},{64,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-6}</string>
    <key>spriteSize</key>
    <string>{60,54}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,113},{60,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{68,43}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{66,199},{68,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-7}</string>
    <key>spriteSize</key>
    <string>{60,51}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{66,146},{60,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{32,69}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{372,59},{32,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{68,42}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{206,59},{68,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{40,62}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,168},{40,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{48,54}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{214,160},{48,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{40,62}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{214,216},{40,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{32,69}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{372,59},{32,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-6}</string>
    <key>spriteSize</key>
    <string>{64,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{64,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-6}</string>
    <key>spriteSize</key>
    <string>{60,54}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{66,90},{60,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{60,47}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,226},{60,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{28,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{358,289},{28,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{36,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{320,289},{36,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (29)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{42,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{214,280},{42,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{42,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,289},{42,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (30)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{36,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{320,289},{36,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (31)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{28,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{358,289},{28,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (32)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-3}</string>
    <key>spriteSize</key>
    <string>{66,46}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{144,112},{66,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (33)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,49}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{144,204},{56,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (34)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{62,44}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{212,112},{62,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (35)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{270,0},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (36)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{52,48}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{144,255},{52,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (37)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{68,42}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{144,160},{68,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (38)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{42,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{362,232},{42,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (39)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,49}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{328,0},{50,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,49}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,323},{50,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (40)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,275},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (41)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,49}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{328,0},{50,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (42)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{42,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{362,232},{42,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (43)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{76,43}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{66,45},{76,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (44)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,275},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (45)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{52,48}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{66,290},{52,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (46)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{48,54}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{214,160},{48,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (47)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{54,57}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{144,0},{54,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (48)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{48,54}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{214,160},{48,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (49)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{44,54}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{326,59},{44,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{270,0},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (50)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{42,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,232},{42,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (51)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{48,53}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,59},{48,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (52)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{42,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,232},{42,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (53)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{40,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{320,232},{40,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (54)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{270,0},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (55)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,114},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (56)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{54,55}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,169},{54,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (57)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,114},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (58)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{44,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{326,176},{44,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (59)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,275},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,49}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,323},{50,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (60)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{62,44}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{66,244},{62,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{42,52}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{276,289},{42,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{76,43}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{66,0},{76,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./leeches (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-7}</string>
    <key>spriteSize</key>
    <string>{60,51}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{144,59},{60,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{406,374}</string>
   <key>textureFileName</key>
   <string>leechesMonster.png</string>
  </dict>
 </dict>
</plist>
